@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --main-color: #d3ad7f;
  --black: #CE9461;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #9dd6df;
  border-radius: 5rem;
}

body {
  background: var(--bg);
}

section {
  padding: 2rem 9%;
}

section:nth-child(even) {
  background: #eee;
}

.sub-heading{
  text-align: center;
  color:#CE9461;
  font-size: 2rem;
  padding-top: 1rem;
}

.heading {
  text-align: center;
  color: #9dd6df;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}

.heading span {
  color: var(--main-color);
  text-transform: uppercase;
}

.btnstuff {
  margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color:white;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
    text-decoration: none;
}

.btnorder {
  margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color:white;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
    text-decoration: none;
}

.btnabout {
  margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color:#CE9461;
    background: #9dd6df;
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
    text-decoration: none;
}


.btnstuff:hover {
  color: #CE9461;
  background: #83BD75;
    letter-spacing: .1rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}

.header .logo img {
  height: 6rem;
}

.header .navbar a {
  font-size: 1.7rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: #9dd6df;
  text-decoration: none;
}

.header .navbar a:hover {
  border-bottom: 0.1rem solid var(--main-color);
  padding-bottom: 0.5rem;
  color: #3B44F6;
  background: #c2ded1;
  text-decoration: none;
}
.header .icons div{
  color:#fff;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}

.header .icons div:hover{
  color:var(--main-color);
}

.header .icons div {
  color: #9dd6df;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}

.header .icons div:hover {
  color: var(--main-color);
}

#menu-btn {
  display: none;
}

.header .search-form {
  position: absolute;
  top: 115%;
  right: 7%;
  background: #9dd6df;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
}

.header .search-form.active {
  transform: scaleY(1);
}

.header .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--black);
  padding: 1rem;
  text-transform: none;
}

.header .search-form label {
  cursor: pointer;
  font-size: 2.2rem;
  margin-right: 1.5rem;
  color: var(--black);
}

.header .search-form label:hover {
  color: var(--main-color);
}

.header .cart-items-container {
  position: absolute;
  top: 100%;
  right: -100%;
  height: calc(100vh - 9.5rem);
  width: 35rem;
  background: #9dd6df;
  padding: 0 1.5rem;
}

.header .cart-items-container.active {
  right: 0;
}

.header .cart-items-container .cart-item {
  position: relative;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header .cart-items-container .cart-item .fa-times {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover {
  color: var(--main-color);
}

.header .cart-items-container .cart-item img {
  height: 7rem;
}

.header .cart-items-container .cart-item .content h3 {
  font-size: 2rem;
  color: var(--black);
  padding-bottom: 0.5rem;
}

.header .cart-items-container .cart-item .content .price {
  font-size: 1.5rem;
  color: var(--main-color);
}

.header .cart-items-container .btn {
  width: 100%;
  text-align: center;
}

.home img {
  padding-top: 80px;
}

.about .row {
  display: flex;
  align-items: center;
  background: var(--black);
  flex-wrap: wrap;
}

.about .row .image {
  flex: 1 1 45rem;
}

.about .row .image img {
  width: 100%;
}
.about .row .content {
  flex: 1 1 45rem;
  padding: 2rem;
}

.about .row .content h3 {
  font-size: 3rem;
  color: white;
}

.about .row .content p {
  font-size: 1.6rem;
  color: white;
  padding: 1rem 0;
  line-height: 1.8;
}

.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.menu .box-container .box {
  padding: 5rem;
  text-align: center;
  border: dotted;
  background-color: #F7F5F2;
}

.menu .box-container .box {
  text-align: center;
  border: var(--border);
  padding: 2rem;
}

.menu .box-container .box .icons a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  border: var(--border);
  color: #CE9461;
  margin: 0.3rem;
}

.menu .box-container .box .icons a:hover {
  background: #F7F5F2;
}

.menu .box-container .box img {
  height: 10rem;
}

.menu .box-container .box h3 {
  color: #CE9461;
  font-size: 2rem;
  padding: 1rem 0;
}

.menu .box-container .box .price {
  color: #CE9461;
  font-size: 2.5rem;
  padding: 0.5rem 0;
}

.menu .box-container .box .price span {
  font-size: 1.5rem;
  text-decoration: line-through;
  font-weight: lighter;
}

.menu .box-container .box:hover {
  background: #9dd6df;
}

.menu .box-container .box:hover > * {
  color: white;
}

.menu .box-container .box .stars {
  padding: 1.5rem;
}

.menu .box-container .box .stars i {
  font-size: 1.7rem;
  color: var(--main-color);
}

@keyframes example {
  from {background-color: #14C38E;}
  to {background-color: #FFD24C;}
}  

.review{
  animation-name: example;
  animation-duration: 4s;
}
.review .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.review .box-container .box {
  border: var(--border);
  text-align: center;
  padding: 3rem 2rem;
}

.review .box-container .box p {
  font-size: 1.5rem;
  line-height: 1.8;
  color: #9dd6df;
  padding: 2rem 0;
}

.review .box-container .box .user {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.review .box-container .box h3 {
  padding: 1rem 0;
  font-size: 2rem;
  color: #9dd6df;
}

.review .box-container .box .stars i {
  font-size: 1.5rem;
  color: var(--main-color);
}

.order form{
  max-width:90rem;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  border:.1rem solid rgba(0,0,0,.2);
  background:#fff;
  padding:1.5rem;
  margin:0 auto;
}

.order form .inputBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.order form .inputBox .input{
  width:49%;
}

.order form .inputBox .input span{
  display:block;
  padding:.5rem 0;
  font-size: 1.5rem;
  color:var(--light-color);
}

.order form .inputBox .input input,
.order form .inputBox .input textarea{
  background:#eee;
  border-radius: .5rem;
  padding:1rem;
  font-size: 1.6rem;
  color:var(--black);
  text-transform: none;
  margin-bottom: 1rem;
  width:100%;
}

.order form .inputBox .input input:focus,
.order form .inputBox .input textarea:focus{
  border:.1rem solid var(--green);
}

.order form .inputBox .input textarea{
  height:20rem;
  resize: none;
}

.order form .btn{
  margin-top: 0;
}

.blogs .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.blogs .box-container .box {
  border: var(--border);
}

.blogs .box-container .box .image {
  height: 25rem;
  overflow: hidden;
  width: 100%;
}

.blogs .box-container .box .image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.blogs .box-container .box:hover .image img {
  transform: scale(1.2);
}

.blogs .box-container .box .content {
  padding: 2rem;
}

.blogs .box-container .box .content .title {
  font-size: 2.5rem;
  line-height: 1.5;
  color: #9dd6df;
}

.blogs .box-container .box .content .title:hover {
  color: var(--main-color);
}

.blogs .box-container .box .content span {
  color: var(--main-color);
  display: block;
  padding-top: 1rem;
  font-size: 2rem;
}

.blogs .box-container .box .content p {
  font-size: 1.6rem;
  line-height: 1.8;
  color: #ccc;
  padding: 1rem 0;
}

.footer {
  background: var(--black);
  text-align: center;
}

.footer .share {
  padding: 1rem 0;
}

.footer .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #9dd6df;
  border: var(--border);
  margin: 0.3rem;
  border-radius: 50%;
}

.footer .share a:hover {
  background-color: var(--main-color);
}

.footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  gap: 1rem;
}

.footer .links a {
  padding: 0.7rem 2rem;
  color: #9dd6df;
  border: var(--border);
  font-size: 2rem;
}

.footer .links a:hover {
  background: var(--main-color);
}

.footer .credit {
  font-size: 2rem;
  color: #9dd6df;
  font-weight: lighter;
  padding: 1.5rem;
}

.footer .credit span {
  color: var(--main-color);
}

.order form {
  max-width: 90rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  background: #fff;
  padding: 1.5rem;
  margin: 0 auto;
}

.order form .inputBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.order form .inputBox .input {
  width: 49%;
}

.order form .inputBox .input span {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: var(--light-color);
}

.order form .inputBox .input input,
.order form .inputBox .input textarea {
  background: #eee;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--black);
  text-transform: none;
  margin-bottom: 1rem;
  width: 100%;
}

.order form .inputBox .input input:focus,
.order form .inputBox .input textarea:focus {
  border: 0.1rem solid var(--green);
}

.order form .inputBox .input textarea {
  height: 20rem;
  resize: none;
}

.order form .btn {
  margin-top: 0;
}
